.home-carousel .ant-carousel {
  margin-top: 64px;
}

.home-carousel .slick-track {
  height: 100vh;
}

.home-carousel .slick-slide {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.home-carousel .slick-slide:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.home-carousel__slogan {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

.home-carousel__slogan h1,
.home-carousel__slogan h3 {
  color: #fff;
}
