.home {
  text-align: center;
}

.section {
  margin: 3rem 0;
}

.section h4 {
  font-weight: 200;
  color: #797979;
}

.homeSection01 h3 {
  font-weight: 200;
}

.homeSection01 ul {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.homeSection01 li {
  flex: 0 0 auto;
  max-width: 30%;
}