.app-header.ant-layout-header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .8);
}

.app-header a {
  color: #fff;
}

.app-header a:focus {
  text-decoration: none;
}

.app-header .ant-menu-dark,
.app-header .ant-menu-dark .ant-menu-sub {
  background-color: transparent;
}

.app-header .ant-menu {
  line-height: 4rem;
}

.app-header__middle .ant-menu {
  display: flex;
  justify-content: center;
}

.app-header__right .ant-menu {
  float: right;
}

.app-header__login {
  float: right;
  color: rgba(255, 255, 255, 0.67);
  margin-top: -1px;
}

.app-header__login a {
  color: #fff;
}