.app-header.ant-layout-header {
  width: 100%;
  padding: 0 15px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

@media only screen and (min-width: 992px) {
  .app-header.ant-layout-header {
    padding: 0 50px;
    height: 90px;
  }
}

.app-header a:focus {
  text-decoration: none;
}

.app-header__logo {
  text-align: center;
}

.app-header__logo > a {
  display: inline-block;
  margin-top: 13px;
}

@media only screen and (min-width: 992px) {
  .app-header__logo {
    text-align: left;
  }

  .app-header__logo > a {
    margin-top: 26px;
  }
}

.app-header__title {
  font-size: 18px;
  line-height: 1;
}
.app-header__title small {
  display: block;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 5px;
}