.app-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app-section h4 {
  font-weight: 200;
  color: #797979;
}

.app-section ul {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.app-section li {
  flex: 0 0 auto;
}

.app-section.app-banner {
  padding: 5rem 0;
  color: #fff;
}

.app-section.app-banner h1,
.app-section.app-banner h2,
.app-section.app-banner h3,
.app-section.app-banner h4,
.app-section.app-banner h5,
.app-section.app-banner h6 {
  color: #fff;
}

.app-section.app-banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.app-section.app-banner:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.app-section.app-banner p {
  opacity: .7;
}

.app-section.app-banner ul {
  margin-top: 3rem;
}